body {
    background-color: black;
    color: white;
    font-family: Verdana;
    margin-left: 140px; 
    font-size: 14px; 
    padding: 0px 10px;
    margin-right: 140px;
  }

  .sidebar{
    width:160px;
    position: static;
    z-index: 1;
    top: 0;
    background-color: darkslategrey;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }

  .sidebar a:hover {
    color: lightblue;
  }
  .main {
   
  }
  
