body {
    background-color: #160044;
    color: white;
    font-family: Verdana;
    
  }

  .newbody{
    margin-right:auto;

  }

  .sidebar{
    width:160px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: darkslategrey;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 5px;
    margin-right: 500px;
  }

  .sidebar a {
    padding: 6px 8px 6px 10x;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }

  .sidebar a:hover {
    color: lightblue;
  }
  .main {
    margin-left: 140px; 
    font-size: 14px; 
    padding: 0px 10px;
    margin-right: 500px;
    color:white;
  }
  
